.ui-container {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.switch-enter-done {
  opacity: 1;
}

.switch-exit-done {
  opacity: 0;
}

body {
  overflow: hidden;
}

@keyframes credits {
  0% {
    top: 100%;
  }
  100% {
    top: -500%;
  }
}
